// $colorOrange: #d23f1e;
$colorOrange: #d23617;
$colorPrimary: $colorOrange;
$colorHover: darken($colorPrimary, 10%);
$colorGrey: #d0cfcf;
$colorBackground: #f5f5f5;
$colorGrey_light: #fafafa;
$colorGrey_dark: #4b4848;
$colorWhite: #ffffff;
$colorBlack: #292929;

$baseFontSize: 16;

$baseUrl: 'https://innovationbenchmark.dk';
html {
  scroll-behavior: smooth;
}

hr {
  border-color: $colorGrey;
  margin-top: 16px;

  @include media-breakpoint-up(sm) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

ul.nav-list {
  margin: 0;
  padding: 24px 0 16px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $colorGrey;
  color: #292929;
  counter-reset: page;
  position: relative;
  max-width: none !important;
  margin-bottom: 48px;

  @include media-breakpoint-up(sm) {
    padding: 24px 20%;
  }

  li {
    flex: 0 1 auto;
    width: calc(100% / 6);
    max-width: calc(100% / 6);
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 0;

    &:before {
      content: none;
    }
  }

  &:after {
    content: '';
    width: 90%;
    height: 1px;
    background-color: $colorPrimary;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 36px;

    @include media-breakpoint-up(sm) {
      left: 25%;
      right: 25%;
      width: 50%;
    }
  }
}

ul.nav-bottom {
  margin: 0;
  padding: 24px 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  max-width: none !important;
  padding-top: 32px;
  margin-top: 32px;
  border-top: 1px solid $colorGrey;

  li {
    padding: 0;
    &:before {
      content: none;
    }
  }
}

.nav-button {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
  color: transparent;
  cursor: pointer;
  font-family: inherit;

  @include media-breakpoint-up(sm) {
    color: inherit;
  }

  &:before {
    content: counter(page);
    counter-increment: page;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: block;
    color: $colorPrimary;
    line-height: 24px;
    border: 1px solid $colorPrimary;
    margin-bottom: 4px;
    background-color: $colorBackground;
    z-index: 1;
    box-sizing: content-box;
  }

  &-current {
    color: inherit;
    &:before {
      background-color: $colorPrimary;
      color: $colorGrey_light;
    }
  }

  &-past {
    svg {
      position: absolute;
      top: 4px;
      fill: $color-white;
      color: $color-white;
      z-index: 1;
      height: 20px;
    }
    &:before {
      background: $colorPrimary;
      content: '';
      color: $colorGrey_light;
      // background: $colorPrimary url('../../public/img/check-white.svg') center/16px no-repeat;
    }
  }

  &[disabled] {
    pointer-events: none;
  }
}

.sliderOptions {
  display: flex !important;
  justify-content: space-between;
  position: relative;
  margin-top: -24px;

  .sliderBackground {
    height: 4px;
    background-color: $colorGrey_dark;
    display: block;
    position: absolute;
    top: -28px;
    pointer-events: none;

    @-moz-document url-prefix() {
      // Target Firefox
      background: none;
    }
  }

  @at-root .calculatingSliders & {
    &:after {
      content: '';
      width: 24px;
      display: block;
      position: absolute;
      background-color: $colorGrey;
      left: -32px;
      top: -28px;
      height: 2px;

      @include media-breakpoint-up(sm) {
        width: 40px;
        left: -48px;
      }
    }
  }

  .thumbBackground {
    width: 20px;
    height: 4px;
    background-color: $colorWhite;
    display: block;
    position: absolute;
    top: calc(-10px);
    left: calc(75% - 13px);
    pointer-events: none;
  }

  &_item {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1px;
    margin-top: -8px;
    white-space: nowrap;
    position: relative;
    visibility: hidden;
    font-size: 14px;

    &:nth-of-type(2) {
      justify-content: flex-start;
    }

    &:last-of-type {
      justify-content: flex-end;
    }

    &:before {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      display: block;
      background-color: $colorGrey;
      position: absolute;
      visibility: visible;
      top: -20px;
      z-index: 0;
    }

    &.selected {
      visibility: visible;

      &:before {
        visibility: hidden !important;
      }
    }
  }
}

@-moz-document url-prefix() {
  .sliderOptions {
    .sliderBackground {
      background: none;
      top: -40px !important;
    }

    &_item {
      &:before {
        top: -32px !important;
      }
    }

    @at-root .calculatingSliders &:after {
      top: -40px !important;
    }
  }
}

input[type='range'] {
  width: 100%;
  margin: 8px 0;
  background-color: transparent;
  padding: 16px 0 40px;
  -webkit-appearance: none;

  &::-webkit-slider-runnable-track {
    background: #d23f1e;
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    margin-top: -8px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2px solid #797272;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all 220ms ease-in-out;
    box-shadow: 0px 0px 8px rgba($colorBlack, 0.4);
  }
  &:hover::-webkit-slider-thumb {
    background: #797272;
  }
  &:focus::-webkit-slider-runnable-track {
    background: #e04b29;
  }
  &::-moz-range-track {
    background: #d23f1e;
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    cursor: pointer;
  }
  &::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 2px solid #797272;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba($colorBlack, 0.4);
  }
  &::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 20.8px 0;
    color: transparent;
    width: 100%;
    height: 4px;
    cursor: pointer;
  }
  &::-ms-fill-lower {
    background: #bc381b;
    border: 0;
    border-radius: 4px;
  }
  &::-ms-fill-upper {
    background: #d23f1e;
    border: 0;
    border-radius: 4px;
  }
  &::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2px solid #797272;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  &:focus::-ms-fill-lower {
    background: #d23f1e;
  }
  &:focus::-ms-fill-upper {
    background: #e04b29;
  }
}
@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type='range'] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

.custom-button-right {
  margin-right: 0;
  margin-left: auto;
  display: block;
  background-color: orange !important;
}

.formWrapper {
  margin-bottom: 32px;

  // Vertical line
  @at-root .calculatingSliders &.calculatingSlider {
    &:not(:first-of-type) {
      &:before {
        content: '';
        width: 2px;
        position: absolute;
        background-color: $colorGrey;
        left: -16px;
        bottom: 38px;
        height: calc(100% + 32px);

        @include media-breakpoint-up(sm) {
          left: -32px;
          height: calc(100% + 32px);
        }
      }
    }

    &:nth-of-type(2) {
      &:after {
        content: 'Max 100%';
        position: absolute;
        bottom: 0;
        font-size: 12px;
        left: -56px;
        transform: rotate(-90deg) translateX(50%);

        @include media-breakpoint-up(sm) {
          left: -80px;
        }

        @at-root .test2 & {
          bottom: auto;
          top: 0;
          transform: rotate(-90deg) translateX(-50%);
        }
      }
    }
  }

  &_description {
    hyphens: auto;
  }
}

@-moz-document url-prefix() {
  .formWrapper {
    @at-root .calculatingSliders &.calculatingSlider {
      &:not(:first-of-type) {
        &:before {
          bottom: 46px !important;
        }
      }
    }
  }

  .calculatingSliders:before {
    @at-root .test2 & {
      top: 986px !important;
    }
  }

  .nav-button:before {
    line-height: 28px !important;
  }
}

.calculatingSliders {
  position: relative;
  padding-left: 40px;

  @include media-breakpoint-up(sm) {
    padding-left: 66px;
  }

  // &:before {
  //   content: 'Max 100%';
  //   width: auto;
  //   height: auto;
  //   position: absolute;
  //   bottom: 42%;
  //   transform: translateX(calc(-100%)) rotate(-90deg);
  //   font-size: 12px;
  //   left: 40px;
  //   @include media-breakpoint-up(sm) {
  //     left: 48px;
  //   }
  //   @at-root .test2 & {
  //     bottom: auto;
  //     top: 1130px;

  //     @include media-breakpoint-up(md) {
  //       top: 910px;
  //     }
  //   }
  // }
}

.card {
  box-shadow: none;
  border-color: #d7dadf;
  @at-root .frontPageMatter &,
    .test2 & {
    height: 100%;
  }
  &-text {
    padding: 0 32px 32px;

    & :deep() h3 {
      margin-top: 16px;
    }

    & :deep() ul {
      @at-root .prosAndCons & {
        list-style: none;
        padding: 0;
        margin-bottom: 32px;

        li {
          margin-bottom: 16px;
          padding-left: 40px;
          position: relative;

          &:before {
            content: '';
            display: block;
            position: absolute;
            width: 24px;
            height: 24px;
            left: 0;
          }
        }
      }

      @at-root .prosAndCons &:first-of-type {
        li:before {
          background: transparent url($baseUrl + '/img/listItem-pro.svg') center / contain no-repeat;
        }
      }

      @at-root .prosAndCons &:last-of-type {
        li:before {
          background: transparent url($baseUrl + '/img/listItem-con.svg') center / contain no-repeat;
        }
      }
    }

    @at-root .card-transparent & {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-footer {
    padding: 0 32px 32px;

    @at-root .card-transparent & {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
    }
  }
  &-header {
    padding: 32px 32px 16px;

    @at-root .card-transparent & {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-transparent {
    background-color: transparent;
    border: none;
  }
}

.apexcharts-canvas svg {
  overflow: visible;
}

.apexcharts-xaxis-annotations line {
  stroke-dasharray: 2;
}

.apexcharts-legend-marker {
  border-width: 1px !important;
  margin-right: 0.5rem !important;

  &:nth-of-type(1) {
    border: 1px solid #0d42ff !important;
  }
  &:nth-of-type(2) {
    border: 1px solid #fba21c !important;
  }
  &:nth-of-type(3) {
    border: 1px solid #1ab759 !important;
  }
}

.apexcharts-radar-series polygon {
  fill: $colorWhite;
}

.hero {
  height: 65vh;
  min-height: 304px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  &-element {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
  &-boks {
    border: 1px solid #d7dadf;
    position: absolute;
    background-color: #fff;
    padding: 40px;
    bottom: -40px;
    margin-right: 16px;
    width: calc(100% - 32px);
  }
}

.arrowLink {
  font-weight: bold;
  display: flex;
  align-items: center;
  color: $colorPrimary;
  max-width: none;
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
  padding: 0;

  &:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 24px;
    background: transparent url($baseUrl + '/img/arrow--orange.svg') center / 16px no-repeat;
    margin-left: 12px;
    transition: all 220ms ease-in-out;
  }

  &:hover {
    &:after {
      margin-left: 24px;
    }
  }

  &_back {
    @include media-breakpoint-up(sm) {
      margin-top: 32px;
    }

    &:after {
      content: none;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 24px;
      background: transparent url($baseUrl + '/img/arrow--orange.svg') center / 16px no-repeat;
      margin-right: 12px;
      transition: all 220ms ease-in-out;
      transform: rotate(180deg);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.hero-padding {
  padding-top: 80px !important;
}

select.form-select {
  color: rgb(117, 117, 117);

  &.active {
    color: $colorBlack;
  }
}

.button.expandButton {
  text-decoration: none;
  position: relative;
  color: $colorOrange;
  font-size: 14px;
  min-height: auto;
  font-weight: bold;
}

.chartBottom {
  font-size: 12px;
  line-height: 16px;
  margin-top: -24px;

  @include media-breakpoint-up(sm) {
    padding-left: 36px;
  }

  &-subtitle {
    font-size: 12px;
    line-height: 16px;
    margin-top: 24px;
    color: $colorGrey_dark;
  }
}

.alert {
  width: 100%;
}

.expandedContent {
  transition: all 220ms ease-in-out;

  &.isExpanded {
    padding-top: 24px;

    @include media-breakpoint-up(sm) {
      padding-top: 64px;
    }
  }
}

.expandedChart {
  position: relative;
  @include media-breakpoint-up(sm) {
    &:after {
      content: '';
      width: 1px;
      display: block;
      position: absolute;
      left: 50%;
      bottom: -62px;
      background: $colorPrimary;
      height: 48px;
      transform: translateX(8px);
    }
  }

  @at-root .test2 & {
    @include media-breakpoint-up(sm) {
      &:after {
        left: 25%;
      }
    }
  }
}

legend {
  font-weight: 600;
  margin-bottom: 0;

  & + p {
    margin-top: 0;
  }
}

.form-select {
  background-color: $colorWhite;
}

.form-group {
  width: 100% !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
